{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Lista de Convidados</title>
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
    rel="stylesheet">



  <link rel="icon" type="image/png" href="{% static 'favicon.ico/favicon-96x96.png' %}" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="{% static 'favicon.ico/favicon.svg' %}" />
  <link rel="shortcut icon" href="{% static 'favicon.ico/favicon.ico' %}" />
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon.ico/apple-touch-icon.png' %}" />
  <link rel="manifest" href="{% static 'favicon.ico/site.webmanifest' %}" />


</head>




<div class="modal fade" id="modalEditar" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Editar Convidado</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">
        <form method="POST" id="formEditar">
          {% csrf_token %}

          <div class="mb-3">
            <label>Nome</label>
            <input type="text" name="nome" id="modalNome" class="form-control">
          </div>

          <div class="mb-3">
            <label>Relação</label>
            <input type="text" name="relacao" id="modalRelacao" class="form-control">
          </div>

          <div class="mb-3">
            <label>Confirmado</label>
            <select name="confirmado" id="modalConfirmado" class="form-select">
              <option value="Sim">Sim</option>
              <option value="Não">Não</option>
            </select>
          </div>

          <div class="mb-3">
            <label>Idade Menor que 6 anos</label>
            <select name="idade_menor" id="modalIdade_menor" class="form-select">
              <option value="Sim">Sim</option>
              <option value="Não">Não</option>
            </select>
          </div>

          <div class="mb-3">
            <label>Idade Maior que 18 anos</label>
            <select name="idade_maio" id="modalIdade_maio" class="form-select">
              <option value="Sim">Sim</option>
              <option value="Não">Não</option>
            </select>
          </div>

          <button type="submit" class="btn btn-success">
            Salvar Alterações
          </button>
        </form>
      </div>

    </div>
  </div>
</div>


<body>
  <h1><img src="{% static 'imagens/logo_remake.png' %}" style="height: 50px;"> Lista de Convidados do Casamento Nicolly
    e Tobias <img src="{% static 'imagens/logo_remake.png' %}" style="height: 50px;"></h1>

  <div class="container">

    <div class="row mb-1 justify-content-center">

      <!-- Total Convidados -->
      <div class="col-md-2">
        <div class="card shadow text-center border-0">
          <div class="card-body">
            <h6 class="text-muted">Total de Convidados</h6>
            <h2 class="fw-bold">{{ total }}</h2>
          </div>
        </div>
      </div>

      <!-- Confirmados -->
      <div class="col-md-2">
        <div class="card shadow text-center border-0 bg-success text-white">
          <div class="card-body">
            <h6>Confirmados</h6>
            <h2 class="fw-bold">{{ total_sim }}</h2>
          </div>
        </div>
      </div>

      <!-- Não Confirmados -->
      <div class="col-md-2">
        <div class="card shadow text-center border-0 bg-danger text-white">
          <div class="card-body">
            <h6>Não Confirmados</h6>
            <h2 class="fw-bold">{{ total_nao }}</h2>
          </div>
        </div>
      </div>

      <!-- Menor de 6 anos -->
      <div class="col-md-2">
        <div class="card shadow text-center border-0">
          <div class="card-body">
            <h6>Menores de 6 anos</h6>
            <h2 class="fw-bold">{{ total_menor }}</h2>
          </div>
        </div>
      </div>

      <!-- Maior idade -->
      <div class="col-md-2">
        <div class="card shadow text-center border-0">
          <div class="card-body">
            <h6>Maiores de 18 anos</h6>
            <h2 class="fw-bold">{{ total_maior }}</h2>
          </div>
        </div>
      </div>

    </div>


    <br><br>
    <form action="{% url 'criar_convidado' %}" method="POST">{% csrf_token %}
      <label for="" class="titulo-cadastro">Nome:</label>
      <input type="text" name="nome" class="form-control" placeholder="Digite o Nome do Convidado">
      <br>

      <div class="row">
        <div class="col-md-6">
          <label for="" class="titulo-cadastro">Relação:</label>
          <input type="text" name="relacao" class="form-control"
            placeholder="Digite se o Convidado é do Noivo ou da Noiva">
        </div>

        <div class="col-md-6">
          <label for="" class="titulo-cadastro">Confirmado:</label>
          <select name="confirmado" class="form-control">
            <option value="">Selecione</option>
            <option value="Sim">Sim</option>
            <option value="Não">Não</option>
          </select>
        </div>

        <div class="col-md-6">
          <label for="" class="titulo-cadastro">Idade Menor que 6 anos:</label>
          <select name="idade_menor" class="form-control input-idade_menor">
            <option value="">Selecione</option>
            <option value="Sim">Sim</option>
            <option value="Não">Não</option>
          </select>
        </div>

        <div class="col-md-6">
          <label for="" class="titulo-cadastro">Idade Maior que 18 anos:</label>
          <select name="idade_maio" class="form-control input-idade_maio">
            <option value="">Selecione</option>
            <option value="Sim">Sim</option>
            <option value="Não">Não</option>
          </select>
        </div>

      </div>
      <br>

      <input type="submit" value="Cadastrar Confirmação" class="btn btn-success">
    </form>

    <hr>

    <input type="text" 
       id="campoBusca" 
       class="form-control mb-3" 
       placeholder="Pesquisar convidado...">



    <div class="card shadow-sm border-0">
      <div class="card-body p-0">
        <div class="table-responsive">
          <table class="table table-hover align-middle mb-0">
            <thead>
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">Relação (Noivo ou Noiva)</th>
                <th scope="col">Confirmado</th>
                <th scope="col">Idade Menor que 6 anos</th>
                <th scope="col">Idade Maior que 18 anos</th>
                <th scope="col">Edição</th>
              </tr>
            </thead>
            <tbody>
              {% for i in lista %}
              <tr>
                <td>{{ i.nome }}</td>
                <td>{{ i.relacao }}</td>
                <td>{{ i.confirmado }}</td>
                <td>{{ i.idade_menor }}</td>
                <td>{{ i.idade_maio }}</td>
                <td>
                  <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalEditar"
                    data-url="{% url 'atualizar_convidado' i.id %}" data-nome="{{ i.nome }}"
                    data-relacao="{{ i.relacao }}" data-confirmado="{{ i.confirmado }}"
                    data-idade_menor="{{ i.idade_menor }}" data-idade_maio="{{ i.idade_maio }}">
                    Atualizar
                  </button>


                  <a href="{% url 'deletar_convidado' i.id %}" class="btn btn-danger">
                    Deletar
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>

          </table>
        </div>
      </div>
    </div>


  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>

    <script>
document.getElementById("campoBusca").addEventListener("keyup", function() {
    let filtro = this.value.toLowerCase();
    let linhas = document.querySelectorAll("tbody tr");

    linhas.forEach(function(linha) {
        let nome = linha.cells[0].textContent.toLowerCase();

        if (nome.includes(filtro)) {
            linha.style.display = "";
        } else {
            linha.style.display = "none";
        }
    });
});
</script>

</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

<script>
  document.addEventListener("DOMContentLoaded", function () {

    const modalEditar = document.getElementById('modalEditar');

    modalEditar.addEventListener('show.bs.modal', function (event) {

      const button = event.relatedTarget;

      const url = button.getAttribute('data-url');
      const nome = button.getAttribute('data-nome');
      const relacao = button.getAttribute('data-relacao');
      const confirmado = button.getAttribute('data-confirmado');
      const idade_menor = button.getAttribute('data-idade_menor');
      const idade_maio = button.getAttribute('data-idade_maio');

      document.getElementById('modalNome').value = nome;
      document.getElementById('modalRelacao').value = relacao;
      document.getElementById('modalConfirmado').value = confirmado;
      document.getElementById('modalIdade_menor').value = idade_menor;
      document.getElementById('modalIdade_maio').value = idade_maio;

      document.getElementById('formEditar').action = url;
    });

  });
</script>



</html>